@if (ViewData["Username"] is null || ((String ?) ViewData["Username"]) == "" || ((String ?) ViewData["IsAdmin"]) != "True") {
    <h1 class="text-center">Please log in to continue</h1>
} else {
    <h1 class="text-center">Welcome, @ViewData["Username"]!</h1>
    <h2 class="text-center">Admin panel</h2>



    <form form class="pure-form" method="post">
        <table class="text-center pure-table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Is admin?</th>
                <th>Is approved?</th>
                <br/>
            </tr>
            </thead>
            @if (ViewData["AllUsers"] is not null) {
                @foreach (MvcLibrary.Controllers.UserData item in (ViewData["AllUsers"] as List<MvcLibrary.Controllers.UserData>)) {
                    <tr>
                        <th>@item.Username</th>
                        <th>
                            @if (item.IsAdmin && item.Username != (String) ViewData["Username"]) {
                                <span>
                                    ADMIN
                                </span>
                            } else {
                                <input type="checkbox" name="admin-@item.Username-@item.UserId" @if (item.IsAdmin) {
                                    @:checked
                                }/>
                            }
                        </th>
                        <th>
                            @if (item.IsAdmin) {
                                <span>
                                    ADMIN
                                </span>
                            } else {
                                <input type="checkbox" name="approved-@item.Username-@item.UserId" @if (item.IsApproved) {
                                    @:checked
                                }/>
                            }
                        </th>
                        <br/>
                    </tr>
                }
            }
        </table>
        <br /><input type="submit" class="pure-button pure-button-primary" value="Save changes" asp-page-handler="Submit" />
        <!-- <input type="submit" value="Save changes" /> -->
    </form>
}