<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

@if (ViewData["Username"] is null || ((String ?) ViewData["Username"]) == "" || ((BookCategoryModel []?) ViewData["BookCategories"]) is null) {
    <h1 class="text-center">Please log in to continue</h1>
} else {
    <h1 class="text-center">Welcome, @ViewData["Username"]!</h1>
    <h2 class="text-center">Add new book</h2>

    <form class="pure-form" method="post">
        <input type="text" name="title" placeholder="Title" class="form-control" />
        <input type="text" name="author" placeholder="Author" class="form-control" />
        <input type="text" name="description" placeholder="Description" class="form-control" />
        <input type="text" name="publisher" placeholder="Publisher" class="form-control" />
        <input type="text" name="isbn" placeholder="ISBN" class="form-control" />
        <input type="date" name="publication-date" placeholder="Publication Date" class="form-control" />
        
        <select name="book-category-id" class="form-control">
            @foreach (BookCategoryModel category in (ViewData["BookCategories"] as BookCategoryModel[])) {
                <option value="@category.BookCategoryId">@category.Name</option>
            }
        </select><br/>

        <br/><input type="submit" value="Add" class="pure-button pure-button-primary" />
    </form>
}

<h2 class="text-center">@ViewData["AddBookMessage"]</h2>
