@using MvcLibrary.Controllers;

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

@if (ViewData["Username"] is null || ((String ?) ViewData["Username"]) == "") {
    <h1 class="text-center">Please log in to continue</h1>
} else {
    <h1 class="text-center">Welcome, @ViewData["Username"]!</h1>
    <h2 class="text-center">Add new reader</h2>

    <form class="pure-form" method="post">
        Name: <input type="text" name="name" placeholder="Title" class="form-control" />
        Surname: <input type="text" name="surname" placeholder="Author" class="form-control" />

        <br/><input type="submit" value="Add" class="pure-button pure-button-primary" />
    </form>
}

<h1 class="text-center">@ViewData["AddReaderMessage"]</h1>
